In [1]:
l = [10,20,30,40,50]
l2 = []

for value in l:
    l2.append(value * value)

print(l2)

[100, 400, 900, 1600, 2500]

In [2]:
l = [10,20,30,40,50]
l2 = [value*value for value in l]
print(l2)

[100, 400, 900, 1600, 2500]

In [4]:
l = ['abc','ancd','erteee','kjjjyy']
l2 = [len(value) for value in l]
print(l2)
d =dict(zip(l,l2))
print(d)

[3, 4, 6, 6]
{'abc': 3, 'ancd': 4, 'erteee': 6, 'kjjjyy': 6}

In [7]:
l = [10,15,20,25,40,45,50]
l2 = [value for value in l if value %2 == 0]
print(l2)

[10, 20, 40, 50]

In [8]:
l = [10,15,20,25,40,45,50]
l2 = ["Even" if value %2 == 0 else "Odd" for value in l]
print(l2)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [14]:
import random
l2 = [random.randint(10,30) for value in range(5)]
print(l2)

[14, 14, 20, 30, 27]

In [15]:
l1 = [10,20,30,40,50]
l2 = [1,2,3,4,5]
l3 = [val1 + val2 for val1,val2 in zip(l1,l2)]
print(l3)

[11, 22, 33, 44, 55]

In [17]:
l2 = [(val1,val2) for val1 in range(10,13) for val2 in range(100,103)]
print(l2)

[(10, 100), (10, 101), (10, 102), (11, 100), (11, 101), (11, 102), (12, 100), (12, 101), (12, 102)]

In [18]:
l2 = [[1,2,3],[4,5,6],[7,8,9]]
# l3 = [1,2,3,4,5,6,7,8,9]
# l4 = [[1,4,7],[2,5,8],[3,6,9]]

l3 = [val2 for val1 in l2 for val2 in val1]
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
l2 = [[1,2,3],[4,5,6],[7,8,9]]
l3 = [[value[index] for value in l2] for index in range(len(l2[0]))]
print(l3)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
i can convert every comprehension to for loop 

but every for loop can not be converted to comprehension

In [27]:
d ={key:key*key for key in range(1,21)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [29]:
# a:97,b:98.....z:122
# ord('a')=>97
# chr(97)=>'a'

d1 = {chr(value):value for value in range(ord('a'),ord('z')+1)}
print(d1)

d2 = {value:key for key,value in d1.items()}
print(d2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [30]:
# d = {(1,10):0,(11,20):0,(21,30),(31,40).....(91,100):0}

d2 = {key:0 for key in zip(range(1,92,10),range(10,101,10))}
print(d2)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

In [32]:
l = [10,20,30,45,12,32,45,74,10,10,20]
l2 = {value%5 for value in l}
print(l2)

{0, 2, 4}

In [33]:
l = [10,20,30,40,50,60]
t2 = (value * value for value in l)
print(t2)

<generator object <genexpr> at 0x000001FDD1CDD8E0>

In [36]:
import timeit
t = timeit.timeit(stmt="""
l2 = []
for value in range(1,100000000):
    l2.append(value * value)
""",number = 1)
print(t)

19.67537760049901

In [1]:
import timeit
t1 = timeit.timeit(stmt="""
l2 = [value * value for value in range(1,100000000)]
""",number = 1)
print(t1)

12.163740157391123

In [ ]:
map 
filter 
lambda